In [159]:
import pandas as pd
import re
import warnings
warnings.filterwarnings('ignore')

# Exercise Questions

Create a directory named nlp to do your work for this module. All exercises should live inside of this directory.

Unless a specific file extension is specified, you may do your work either in a python script (.py) or a jupyter notebook (.ipynb).

Do your work for this exercise in a file named regex.

1. Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

2. Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.


        >>> is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')
        False
        >>> is_valid_username('codeup')
        True
        >>> is_valid_username('Codeup')
        False
        >>> is_valid_username('codeup123')
        True
        >>> is_valid_username('1codeup')
        False

3. Write a regular expression to capture phone numbers. It should match all of the following:


        (210) 867 5309
        +1 210.867.5309
        867-5309
        210-867-5309

4. Use regular expressions to convert the dates below to the standardized year-month-day format.


        02/04/19
        02/05/19
        02/06/19
        02/07/19
        02/08/19
        02/09/19
        02/10/19

5. Write a regex to extract the various parts of these logfile lines:


    GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58

    POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58

    GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58

6. You can find a list of words on your mac at /usr/share/dict/words. Use this file to answer the following questions:

 - How many words have at least 3 vowels?
 - How many words have at least 3 vowels in a row?
 - How many words have at least 4 consonants in a row?
 - How many words start and end with the same letter?
 - How many words start and end with a vowel?
 - How many words contain the same letter 3 times in a row?
 - What other interesting patterns in words can you find?

## Exercise

1. Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [120]:
def is_vowel(letter):
    vowel_re = r'[aeiou]' # write your regex here
    return bool(re.search(vowel_re, letter))

is_vowel('a'), is_vowel('b'), is_vowel('e'), is_vowel('d')

(True, False, True, False)

2. Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [126]:
# This also works    r'^(?=.{5,32}$)^[a-z]
def is_valid_username(username):
    username_re = r'^[a-z][a-z0-9]{,31}$' # write your regex here
    return bool(re.search(username_re, username))

usernames = ['aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa', 'codeup', 'Codeup', 'codeup123', '1codeup']
print('is_valid_username | username')
print('----------------- | --------')
for username in usernames:
    print('%17s | %s' % (is_valid_username(username), username))

is_valid_username | username
----------------- | --------
            False | aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
             True | codeup
            False | Codeup
             True | codeup123
            False | 1codeup

3. Write a regular expression to capture phone numbers. It should match all of the following:


        (210) 867 5309
        +1 210.867.5309
        867-5309
        210-867-5309

In [81]:
phone_numbers = pd.Series([
    '(210) 867 5309',
    '+1 210.867.5309',
    '867-5309',
    '210-867-5309',
])

phone_number_re = r'\d+|^\+|^\(' # TODO

pd.DataFrame({
    'phone_number': phone_numbers,
    'regexp_matches': phone_numbers.str.match(phone_number_re)
})

      phone_number  regexp_matches
0   (210) 867 5309            True
1  +1 210.867.5309            True
2         867-5309            True
3     210-867-5309            True

4. Use regular expressions to convert the dates below to the standardized year-month-day format.


        02/04/19
        02/05/19
        02/06/19
        02/07/19
        02/08/19
        02/09/19
        02/10/19

In [19]:
dates = ['02/04/19',
        '02/05/19',
        '02/06/19',
        '02/07/19',
        '02/08/19',
        '02/09/19',
        '02/10/19']

In [127]:
# for loop for dates
for date in dates:
    print(re.sub(r'(\d+)/(\d+)/(\d+)', r'\3/\1/\2', date))

19/02/04
19/02/05
19/02/06
19/02/07
19/02/08
19/02/09
19/02/10

5. Write a regex to extract the various parts of these logfile lines:


    GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58

    POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58

    GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58

In [115]:
line_series = pd.Series(['GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58',
          'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58',
           'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58'
          ])

In [116]:
line_list = ['GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58',
          'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58',
           'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58'
          ]

In [117]:
line = 'GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58'

In [28]:
line_series.replace

0    GET /api/v1/sales?page=86 [16/Apr/2019:193452+...
1    POST /users_accounts/file-upload [16/Apr/2019:...
2    GET /api/v1/items?page=3 [16/Apr/2019:193453+0...
dtype: object

In [ ]:
for line in line_list:

6. You can find a list of words on your mac at /usr/share/dict/words. Use this file to answer the following questions:

 - How many words have at least 3 vowels?
 - How many words have at least 3 vowels in a row?
 - How many words have at least 4 consonants in a row?
 - How many words start and end with the same letter?
 - How many words start and end with a vowel?
 - How many words contain the same letter 3 times in a row?
 - What other interesting patterns in words can you find?

In [143]:
df = pd.read_csv('/usr/share/dict/words', header=None)

In [147]:
words.shape

(235884,)

In [145]:
words = df[0].dropna()

In [146]:
words.isnull().sum()

0

In [148]:
(words.str.count(r'[aeiouAEIOU]') >= 3).sum()

191365

In [149]:
words.str.contains(r'[aeiouAEIOU]{3,}').sum()

6182

In [150]:
words[words.str.match(r'[aeiouAEIOU]{3,}')].head()

3041         Aeacides
3042           Aeacus
3043           Aeaean
3109    aeolharmonica
3110           Aeolia
Name: 0, dtype: object

In [151]:
words.str.contains(r'[^aeiou]{4,}').sum()

19743

In [160]:
words.str.contains(r'^(.).*\1$').sum()

9916

In [161]:
words.str.contains(r'^[aeiouAEIOU].*[aeiouAEIOU]$').sum()

14657

In [162]:
words.str.contains(r'(.)\1{2,}').sum()

7

In [164]:
# How many words contain two sets of the same two letters repeated
#e.g. /assassin
words[words.str.contains(r'((.)\2).*\1')]

895            accessariness
906               accessless
909            accessoriness
2688          admissibleness
3879             agelessness
3961          aggressiveness
4372             aimlessness
5432          allagophyllous
5482           allegorically
5535               Allhallow
5536           Allhallowtide
5547              allicholly
5587            allochirally
5589         allochlorophyll
5618           allogenically
5639           allopalladium
5642        allopathetically
5644          allopathically
5648          allopatrically
5685            allotelluric
5690      allothigenetically
5708          allotropically
6380            ambassadress
6794               amissness
13881            artlessness
14419         assailableness
14431               assassin
14432            assassinate
14433          assassination
14434          assassinative
                 ...
230247            Wallawalla
230389          wantlessness
230754         watchlessness
230804         waterlessness
230892          wavelessness
230973       waylaidlessness
231282        weightlessness
231294         weirdlessness
231813          whillaballoo
231888        whippersnapper
232297          wifelessness
232396             willfully
232517          windlessness
232530        windowlessness
232611          winglessness
232729          wirelessness
232837          wistlessness
232943           witlessness
233229          woodlessness
233249              woodroof
233288                woohoo
233372          wordlessness
233419          worklessness
233539         worthlessness
233685        wretchlessness
234557           yellowbelly
234559            yellowbill
234834         youthlessness
235076          zeallessness
235683                zoozoo
Name: 0, Length: 792, dtype: object