# Logistic Regression

In [1]:
from pydataset import data
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

import env
import acquire


from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

### Do your work for these exercises in either a notebook or a python script named model.

1. Fit the logistic regression classifier to your training sample and transform, i.e. make predictions on the training sample
2. Evaluate your in-sample results using the model score, confusion matrix, and classification report.
3. Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.
4. Look in the scikit-learn documentation to research the solver parameter. What is your best option(s) for the particular problem you are trying to solve and the data to be used?
5. Run through steps 2-4 using another solver (from question 5)
6. Which performs better on your in-sample data?

In [2]:
iris = acquire.get_iris_data()
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
X = iris[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]
y = iris[['species']]

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state = 123, stratify=None)

In [5]:
X_train.head()

     sepal_length  sepal_width  petal_length  petal_width
114           5.8          2.8           5.1          2.4
136           6.3          3.4           5.6          2.4
53            5.5          2.3           4.0          1.3
19            5.1          3.8           1.5          0.3
38            4.4          3.0           1.3          0.2

In [6]:
y_train.head()

        species
114   virginica
136   virginica
53   versicolor
19       setosa
38       setosa

In [7]:
logit = LogisticRegression(random_state = 123, solver='newton-cg')

In [8]:
logit.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=123, solver='newton-cg', tol=0.0001, verbose=0,
                   warm_start=False)

In [9]:
y_pred=logit.predict(X_train)
y_pred_proba=logit.predict_proba(X_train)
y_pred_proba
# y_pred

array([[7.05174716e-04, 2.80609524e-01, 7.18685301e-01],
       [3.19797565e-04, 1.71303461e-01, 8.28376742e-01],
       [2.57739315e-02, 9.02048226e-01, 7.21778425e-02],
       [9.07418673e-01, 9.25773256e-02, 4.00177411e-06],
       [7.62504117e-01, 2.37492843e-01, 3.03936289e-06],
       [1.24288105e-03, 2.91915269e-01, 7.06841850e-01],
       [8.28935512e-01, 1.71051494e-01, 1.29936006e-05],
       [7.56263455e-01, 2.43733123e-01, 3.42214961e-06],
       [6.34350549e-03, 6.49742132e-01, 3.43914362e-01],
       [1.02501997e-02, 7.15755668e-01, 2.73994132e-01],
       [3.35346666e-02, 8.93284959e-01, 7.31803747e-02],
       [1.22509278e-01, 8.67736966e-01, 9.75375667e-03],
       [1.00876531e-03, 4.06997243e-01, 5.91993992e-01],
       [1.68636744e-02, 8.00116708e-01, 1.83019618e-01],
       [5.57705138e-04, 2.18037775e-01, 7.81404520e-01],
       [6.27400073e-01, 3.72595486e-01, 4.44116950e-06],
       [2.43553673e-04, 2.40270747e-01, 7.59485700e-01],
       [4.19573449e-02, 8.61470168e-01, 9.65724871e-02],
       [9.01348655e-01, 9.86461427e-02, 5.20206920e-06],
       [8.25113551e-01, 1.74881151e-01, 5.29824408e-06],
       [3.10591414e-04, 3.70689149e-01, 6.29000260e-01],
       [1.93392278e-02, 8.59764584e-01, 1.20896189e-01],
       [9.73967885e-06, 3.94859797e-01, 6.05130463e-01],
       [4.06671357e-06, 4.05976146e-01, 5.94019788e-01],
       [8.94795471e-01, 1.05189720e-01, 1.48085762e-05],
       [1.54841256e-02, 6.93508853e-01, 2.91007022e-01],
       [6.87965717e-02, 9.13819972e-01, 1.73834561e-02],
       [1.55093100e-03, 3.81358652e-01, 6.17090417e-01],
       [7.42076007e-01, 2.57921211e-01, 2.78160146e-06],
       [1.68606271e-04, 3.92481904e-01, 6.07349490e-01],
       [9.04035700e-03, 5.35415858e-01, 4.55543785e-01],
       [7.34258402e-03, 7.02729925e-01, 2.89927491e-01],
       [7.36966456e-01, 2.63027945e-01, 5.59867022e-06],
       [2.06117102e-04, 3.41442991e-01, 6.58350892e-01],
       [8.43228912e-04, 4.62248782e-01, 5.36907989e-01],
       [8.82475186e-01, 1.17512927e-01, 1.18875253e-05],
       [7.54069517e-01, 2.45927088e-01, 3.39439176e-06],
       [4.02943372e-02, 8.92950847e-01, 6.67548157e-02],
       [5.83810379e-03, 7.13483834e-01, 2.80678062e-01],
       [1.06593681e-04, 1.99328424e-01, 8.00564982e-01],
       [9.35280885e-01, 6.47180506e-02, 1.06427059e-06],
       [8.49427576e-01, 1.50568278e-01, 4.14574929e-06],
       [5.25048308e-02, 9.19050880e-01, 2.84442893e-02],
       [8.46036736e-01, 1.53955409e-01, 7.85435544e-06],
       [5.01260108e-03, 3.99805389e-01, 5.95182010e-01],
       [3.74118981e-04, 2.80996977e-01, 7.18628904e-01],
       [7.60337353e-01, 2.39656861e-01, 5.78598801e-06],
       [1.05019085e-04, 4.30539799e-01, 5.69355181e-01],
       [9.66303964e-01, 3.36928901e-02, 3.14585720e-06],
       [8.96948562e-01, 1.03045694e-01, 5.74380487e-06],
       [1.70274229e-03, 4.64127937e-01, 5.34169321e-01],
       [8.94685836e-01, 1.05313093e-01, 1.07049845e-06],
       [8.84787246e-01, 1.15209710e-01, 3.04463062e-06],
       [7.85007497e-03, 7.91420281e-01, 2.00729644e-01],
       [3.75009711e-05, 3.83822742e-01, 6.16139757e-01],
       [1.48669681e-02, 8.05927184e-01, 1.79205848e-01],
       [1.44212183e-01, 8.25851196e-01, 2.99366209e-02],
       [4.56856010e-02, 9.18828576e-01, 3.54858235e-02],
       [7.68947107e-01, 2.31048178e-01, 4.71436298e-06],
       [8.72717915e-01, 1.27279370e-01, 2.71497623e-06],
       [3.19459462e-03, 6.98219701e-01, 2.98585704e-01],
       [3.57761494e-04, 4.80417380e-01, 5.19224859e-01],
       [7.68352372e-01, 2.31643323e-01, 4.30520804e-06],
       [8.50790787e-01, 1.49205735e-01, 3.47850974e-06],
       [2.59703160e-02, 8.60418507e-01, 1.13611177e-01],
       [2.27055436e-02, 5.73516891e-01, 4.03777565e-01],
       [2.10567597e-02, 8.51962745e-01, 1.26980495e-01],
       [9.11754234e-05, 3.12860917e-01, 6.87047907e-01],
       [3.15785689e-03, 5.82977412e-01, 4.13864731e-01],
       [3.59481324e-02, 9.09583035e-01, 5.44688323e-02],
       [3.72742561e-02, 8.70540667e-01, 9.21850765e-02],
       [1.45423086e-05, 3.47220702e-01, 6.52764756e-01],
       [8.31878873e-01, 1.68117306e-01, 3.82088820e-06],
       [8.84867287e-01, 1.15129574e-01, 3.13836871e-06],
       [3.21447528e-02, 7.87577185e-01, 1.80278063e-01],
       [1.68938770e-04, 2.31909156e-01, 7.67921905e-01],
       [4.79352952e-04, 3.35931026e-01, 6.63589621e-01],
       [1.08586600e-04, 3.19988955e-01, 6.79902458e-01],
       [7.38323988e-04, 3.27355224e-01, 6.71906452e-01],
       [8.31747726e-01, 1.68248567e-01, 3.70692007e-06],
       [1.64343474e-02, 6.65702523e-01, 3.17863130e-01],
       [8.05423575e-01, 1.94573803e-01, 2.62190230e-06],
       [3.65384874e-02, 9.19853861e-01, 4.36076516e-02],
       [1.29743851e-02, 7.87278082e-01, 1.99747533e-01],
       [8.18768411e-01, 1.81228565e-01, 3.02338802e-06],
       [3.90568710e-03, 7.64399801e-01, 2.31694512e-01],
       [1.94432709e-04, 2.34001582e-01, 7.65803985e-01],
       [1.11294640e-02, 7.12770987e-01, 2.76099549e-01],
       [1.74910670e-04, 1.83191980e-01, 8.16633109e-01],
       [4.60380508e-04, 4.00047563e-01, 5.99492057e-01],
       [9.29738239e-01, 7.02595599e-02, 2.20110556e-06],
       [6.91122070e-03, 7.78999780e-01, 2.14089000e-01],
       [7.98323299e-01, 2.01673182e-01, 3.51966033e-06],
       [5.89782248e-04, 1.78066487e-01, 8.21343731e-01],
       [9.82517484e-04, 4.23920809e-01, 5.75096674e-01],
       [3.37698957e-02, 8.48931428e-01, 1.17298676e-01],
       [1.86313634e-01, 8.06798158e-01, 6.88820877e-03],
       [1.59986567e-03, 4.85356906e-01, 5.13043229e-01],
       [7.78225732e-03, 6.09242603e-01, 3.82975140e-01],
       [1.27991305e-03, 4.97645967e-01, 5.01074120e-01],
       [8.66924800e-01, 1.33071762e-01, 3.43720751e-06],
       [3.00786886e-01, 6.95682045e-01, 3.53106931e-03],
       [1.52171704e-02, 6.77332852e-01, 3.07449977e-01],
       [2.55721044e-03, 4.91766156e-01, 5.05676633e-01],
       [7.47725489e-05, 1.46536082e-01, 8.53389146e-01]])

In [ ]:
print('Accuracy of Logistic Regression classifier on training set: {:.2f}'.format(logit.score(X_train,y_train)))

In [ ]:
confusion_matrix(y_train,y_pred)

In [ ]:
#Making the confusion matrix "pretty"
labels=sorted(y_train.species.unique())
pretty_cm=pd.DataFrame(confusion_matrix(y_train,y_pred),index=labels,columns=labels)

In [ ]:
pretty_cm

In [ ]:
print(classification_report(y_train, y_pred))

In [ ]:
type(classification_report(y_train, y_pred))

my project deserves a better presenter than me

# Decision Tree

### Continue working in your model file.

1. Fit the decision tree classifier to your training sample and transform (i.e. make predictions on the training sample)
2. Evaluate your in-sample results using the model score, confusion matrix, and classification report.
3. Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.
4. Run through steps 2-4 using entropy as your measure of impurity.
5. Which performs better on your in-sample data?

In [ ]:
iris = acquire.get_iris_data()
iris.head()

In [ ]:
X = iris[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]
y = iris[['species']]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state = 123, stratify=None)

In [ ]:
X_train.head()

In [ ]:
y_train.head()

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [ ]:
clf = DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=123)

In [ ]:
clf.fit(X_train, y_train)

In [ ]:
print(clf.feature_importances_)

In [ ]:
y_pred = clf.predict(X_train)
y_pred[0:5]

In [ ]:
y_pred_proba = clf.predict_proba(X_train)
y_pred_proba

In [ ]:
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
     .format(clf.score(X_train, y_train)))

In [ ]:
confusion_matrix(y_train, y_pred)

In [ ]:
sorted(y_train.species.unique())

In [ ]:
y_train.species.value_counts()

In [ ]:
labels = sorted(y_train.species.unique())

pd.DataFrame(confusion_matrix(y_train, y_pred), index=labels, columns=labels)

In [ ]:
print(classification_report(y_train, y_pred))

In [ ]:
print('Accuracy of Decision Tree classifier on test set: {:.2f}'
     .format(clf.score(X_test, y_test)))

In [ ]:
from sklearn.datasets import load_iris

iris = load_iris()
clf = DecisionTreeClassifier()
clf = clf.fit(iris.data, iris.target)

import graphviz

from graphviz import Graph

dot_data = export_graphviz(clf, out_file=None) 
graph = graphviz.Source(dot_data) 

graph.render('iris_decision_tree', view=True)

# Random Forest

### Continue working in your model file.

1. Fit the Random Forest classifier to your training sample and transform (i.e. make predictions on the training sample) setting the random_state accordingly and setting min_samples_leaf = 1 and max_depth = 20.
2. Evaluate your results using the model score, confusion matrix, and classification report.
3. Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.
4. Run through steps increasing your min_samples_leaf to 5 and decreasing your max_depth to 3.
5. What are the differences in the evaluation metrics? Which performs better on your in-sample data? Why?

In [7]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix


import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import acquire
import prepare

In [ ]:
iris = acquire.get_iris_data()
iris.head()

In [ ]:
X = iris[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]
y = iris[['species']]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .20, random_state = 123, stratify=None)

In [ ]:
rf = RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion='gini',
                            min_samples_leaf=3,
                            n_estimators=100,
                            max_depth=3, 
                            random_state=123)

In [ ]:
rf.fit(X_train, y_train)

In [ ]:
print(rf.feature_importances_)

In [ ]:
y_pred = rf.predict(X_train)

In [ ]:
y_pred_proba = rf.predict_proba(X_train)

In [ ]:
print('Accuracy of random forest classifier on training set: {:.2f}'
     .format(rf.score(X_train, y_train)))

In [ ]:
print(confusion_matrix(y_train, y_pred))

In [ ]:
print(classification_report(y_train, y_pred))

In [ ]:
print('Accuracy of random forest classifier on test set: {:.2f}'
     .format(rf.score(X_test, y_test)))

# K-Nearest Neighbor

### Continue working in your model notebook or python script.

1. Fit a K-Nearest Neighbors classifier to your training sample and transform (i.e. make predictions on the training sample)
2. Evaluate your results using the model score, confusion matrix, and classification report.
3. Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.
4. Run through steps 2-4 setting k to 10
5. Run through setps 2-4 setting k to 20
6. What are the differences in the evaluation metrics? Which performs better on your in-sample data? Why?


Test

For both the iris and the titanic data,

1. Determine which model (with hyperparameters) performs the best (try reducing the number of features to the top 4 features in terms of information gained for each feature individually).
2. Create a new dataframe with top 4 features.
3. Use the top performing algorithm with the metaparameters used in that model. Create the object, fit, transform on in-sample data, and evaluate the results with the training data. Compare your evaluation metrics with those from the original model (with all the features).
4. Run your final model on your out-of-sample dataframe (test_df). Evaluate the results.


Feature Engineering

Titanic Data
Create a feature named who, this should be either man, woman, or child. How does including this feature affect your model's performance?
Create a feature named adult_male that is either a 1 or a 0. How does this affect your model's predictions?
Iris Data
Create features named petal_area and sepal_area.

In [8]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

import acquire
import prepare

### Iris dataset

In [ ]:
iris = acquire.get_iris_data()
iris.head()

In [ ]:
X = iris[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]
y = iris[['species']]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .20, random_state = 123, stratify=None)

In [ ]:
knn = KNeighborsClassifier(n_neighbors=5, weights='uniform')

In [ ]:
knn.fit(X_train, y_train)

In [ ]:
y_pred = knn.predict(X_train)

In [ ]:
y_pred_proba = knn.predict_proba(X_train)

In [ ]:
print('Accuracy of KNN classifier on training set: {:.2f}'
     .format(knn.score(X_train, y_train)))

In [ ]:
print(confusion_matrix(y_train, y_pred))

In [ ]:
print(classification_report(y_train, y_pred))

In [ ]:
print('Accuracy of KNN classifier on test set: {:.2f}'
     .format(knn.score(X_test, y_test)))

In [ ]:
import matplotlib.pyplot as plt
k_range = range(1, 20)
scores = []
for k in k_range:
    knn = KNeighborsClassifier(n_neighbors = k)
    knn.fit(X_train, y_train)
    scores.append(knn.score(X_test, y_test))
plt.figure()
plt.xlabel('k')
plt.ylabel('accuracy')
plt.scatter(k_range, scores)
plt.xticks([0,5,10,15,20])

### Titanic dataset

In [12]:
titanic = acquire.get_titanic_data()
titanic.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1

In [13]:
dft = titanic

In [14]:
dft.embarked.value_counts(dropna=False)

S      644
C      168
Q       77
NaN      2
Name: embarked, dtype: int64

In [15]:
dft.fillna(np.nan, inplace=True)

In [16]:
dft.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [18]:
X = dft[['pclass', 'age', 'fare', 'embark_town']]
y = dft[['survived']]

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .20, random_state = 123, stratify=None)

In [20]:
knn = KNeighborsClassifier(n_neighbors=5, weights='uniform')

In [21]:
knn.fit(X_train, y_train)

ValueError: could not convert string to float: 'Cherbourg'