In [1]:
#ignore warnings
import warnings
warnings.filterwarnings("ignore")

#wrangling
import pandas as pd
import numpy as np

#explore
import scipy.stats as stats

#visuals
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns


#default pandas decimal display formatting
pd.options.display.float_format='{:20,.2f}'.format

import env
import acquire
# import prepare
# import summarize

### Acquire & Summarize

1. Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

    - Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.
    - Only include properties with a transaction in 2017, and include only the last transaction for each properity (so no duplicate property ID's), along with zestimate error and date of transaction.
    - Only include properties that include a latitude and longitude value.

Acquired zillow data using acquire.py

In [2]:
df = acquire.get_zillow_data()

In [3]:
# df.transactiondate = pd.to_datetime(df.transactiondate, format='%Y-%m-%d')
# df = df.sort_values("transactiondate").drop_duplicates('parcelid',keep='last')

In [4]:
df.head()

,county,tax_rate,id,parcelid,airconditioningtypeid,airconditioningdesc,architecturalstyletypeid,architecturalstyledesc,basementsqft,bathroomcnt,...,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,typeconstructiontypeid,typeconstructiondesc,censustractandblock,transactiondate,logerror,transactions
0,Ventura,0.01,1387261,17052889,nan,None,nan,None,nan,1.00,...,"376,000.00","5,672.48",None,nan,nan,None,"61,110,010,023,006.00",2017-01-01,0.06,1
1,Ventura,0.01,1447245,17143294,nan,None,nan,None,nan,2.00,...,"132,424.00","3,508.10",None,nan,nan,None,"61,110,053,062,009.00",2017-01-01,-0.02,1
2,Ventura,0.01,43675,17110996,nan,None,nan,None,nan,2.50,...,"99,028.00","2,204.84",None,nan,nan,None,"61,110,050,041,163.00",2017-01-02,0.01,1
3,Ventura,0.01,1327940,17153340,nan,None,nan,None,nan,3.50,...,"522,030.00","12,738.54",None,nan,nan,None,"61,110,036,093,023.00",2017-01-02,-0.10,1
4,Ventura,0.01,1431120,17153706,nan,None,nan,None,nan,2.50,...,"239,000.00","8,442.56",None,nan,nan,None,"61,110,036,093,015.00",2017-01-02,0.03,1

2. Summary of zillow data (summary stats, info, dtypes, shape, distributions)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77381 entries, 0 to 77380
Data columns (total 72 columns):
county                          77381 non-null object
tax_rate                        77375 non-null float64
id                              77381 non-null int64
parcelid                        77381 non-null int64
airconditioningtypeid           24953 non-null float64
airconditioningdesc             24953 non-null object
architecturalstyletypeid        206 non-null float64
architecturalstyledesc          206 non-null object
basementsqft                    50 non-null float64
bathroomcnt                     77381 non-null float64
bedroomcnt                      77381 non-null float64
buildingclasstypeid             15 non-null float64
buildingclassdesc               15 non-null object
buildingqualitytypeid           49672 non-null float64
calculatedbathnbr               76772 non-null float64
calculatedfinishedsquarefeet    77185 non-null float64
decktypeid                      614 non-null float64
finishedfloor1squarefeet        6023 non-null float64
finishedsquarefeet12            73749 non-null float64
finishedsquarefeet13            41 non-null float64
finishedsquarefeet15            3009 non-null float64
finishedsquarefeet50            6023 non-null float64
finishedsquarefeet6             386 non-null float64
fips                            77381 non-null float64
state                           77381 non-null object
fireplacecnt                    8276 non-null float64
fullbathcnt                     76772 non-null float64
garagecarcnt                    25474 non-null float64
garagetotalsqft                 25474 non-null float64
hashottuborspa                  1538 non-null float64
heatingorsystemtypeid           49440 non-null float64
heatingorsystemdesc             49440 non-null object
latitude                        77381 non-null float64
longitude                       77381 non-null float64
lotsizesquarefeet               69142 non-null float64
poolcnt                         16137 non-null float64
poolsizesum                     867 non-null float64
pooltypeid10                    464 non-null float64
pooltypeid2                     1074 non-null float64
pooltypeid7                     15042 non-null float64
propertycountylandusecode       77381 non-null object
propertylandusetypeid           77381 non-null float64
propertylandusedesc             77381 non-null object
propertyzoningdesc              50331 non-null object
rawcensustractandblock          77381 non-null float64
regionidcity                    75910 non-null float64
regionidcounty                  77381 non-null float64
regionidneighborhood            30890 non-null float64
regionidzip                     77331 non-null float64
roomcnt                         77381 non-null float64
storytypeid                     50 non-null float64
storydesc                       50 non-null object
taxvaluedollarcnt               77380 non-null float64
threequarterbathnbr             10096 non-null float64
unitcnt                         50563 non-null float64
yardbuildingsqft17              2388 non-null float64
yardbuildingsqft26              70 non-null float64
yearbuilt                       77118 non-null float64
numberofstories                 17560 non-null float64
fireplaceflag                   172 non-null float64
structuretaxvaluedollarcnt      77269 non-null float64
assessmentyear                  77381 non-null float64
landtaxvaluedollarcnt           77379 non-null float64
taxamount                       77376 non-null float64
taxdelinquencyflag              2886 non-null object
taxdelinquencyyear              2886 non-null float64
typeconstructiontypeid          222 non-null float64
typeconstructiondesc            222 non-null object
censustractandblock             77137 non-null float64
transactiondate                 77381 non-null object
logerror                        77381 non-null float64
transactions                    77381 non-null int64
dtypes: float64(56), int64(3), object(13)
memory usage: 42.5+ MB

In [10]:
df.describe()

,tax_rate,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,...,fireplaceflag,structuretaxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,typeconstructiontypeid,censustractandblock,logerror,transactions
count,"77,375.00","77,381.00","77,381.00","24,953.00",206.00,50.00,"77,381.00","77,381.00",15.00,"49,672.00",...,172.00,"77,269.00","77,381.00","77,379.00","77,376.00","2,886.00",222.00,"77,137.00","77,381.00","77,381.00"
mean,0.01,"1,495,138.90","13,007,150.51",1.81,7.39,679.72,2.30,3.05,3.93,6.53,...,1.00,"189,314.53","2,016.00","301,095.41","5,995.53",14.09,6.04,"60,496,733,646,264.24",0.02,1.00
std,0.01,"860,907.05","3,481,345.65",2.97,2.73,689.70,1.00,1.14,0.26,1.72,...,0.00,"230,087.42",0.00,"492,596.03","7,622.84",2.19,0.56,"1,535,241,981,138.57",0.17,0.05
min,0.00,349.00,"10,711,855.00",1.00,2.00,38.00,0.00,0.00,3.00,1.00,...,1.00,44.00,"2,016.00",161.00,19.92,3.00,4.00,"60,371,011,101,000.00",-4.66,1.00
25%,0.01,"752,070.00","11,538,305.00",1.00,7.00,273.00,2.00,2.00,4.00,6.00,...,1.00,"84,265.00","2,016.00","85,504.00","2,715.63",14.00,6.00,"60,373,109,005,002.00",-0.02,1.00
50%,0.01,"1,497,932.00","12,531,568.00",1.00,7.00,515.00,2.00,3.00,4.00,6.00,...,1.00,"136,499.00","2,016.00","203,372.00","4,450.69",15.00,6.00,"60,376,032,003,008.00",0.01,1.00
75%,0.01,"2,240,535.00","14,211,831.00",1.00,7.00,796.50,3.00,4.00,4.00,8.00,...,1.00,"218,787.00","2,016.00","366,796.50","6,927.79",15.00,6.00,"60,590,423,251,008.00",0.04,1.00
max,0.82,"2,982,274.00","167,689,317.00",13.00,21.00,"3,560.00",18.00,16.00,4.00,12.00,...,1.00,"11,421,790.00","2,016.00","48,952,198.00","586,639.30",99.00,13.00,"483,030,105,084,015.00",5.26,3.00

In [11]:
df.dtypes

county                           object
tax_rate                        float64
id                                int64
parcelid                          int64
airconditioningtypeid           float64
airconditioningdesc              object
architecturalstyletypeid        float64
architecturalstyledesc           object
basementsqft                    float64
bathroomcnt                     float64
bedroomcnt                      float64
buildingclasstypeid             float64
buildingclassdesc                object
buildingqualitytypeid           float64
calculatedbathnbr               float64
calculatedfinishedsquarefeet    float64
decktypeid                      float64
finishedfloor1squarefeet        float64
finishedsquarefeet12            float64
finishedsquarefeet13            float64
finishedsquarefeet15            float64
finishedsquarefeet50            float64
finishedsquarefeet6             float64
fips                            float64
state                            object
fireplacecnt                    float64
fullbathcnt                     float64
garagecarcnt                    float64
garagetotalsqft                 float64
hashottuborspa                  float64
                                 ...
propertylandusedesc              object
propertyzoningdesc               object
rawcensustractandblock          float64
regionidcity                    float64
regionidcounty                  float64
regionidneighborhood            float64
regionidzip                     float64
roomcnt                         float64
storytypeid                     float64
storydesc                        object
taxvaluedollarcnt               float64
threequarterbathnbr             float64
unitcnt                         float64
yardbuildingsqft17              float64
yardbuildingsqft26              float64
yearbuilt                       float64
numberofstories                 float64
fireplaceflag                   float64
structuretaxvaluedollarcnt      float64
assessmentyear                  float64
landtaxvaluedollarcnt           float64
taxamount                       float64
taxdelinquencyflag               object
taxdelinquencyyear              float64
typeconstructiontypeid          float64
typeconstructiondesc             object
censustractandblock             float64
transactiondate                  object
logerror                        float64
transactions                      int64
Length: 72, dtype: object

In [19]:
pd.DataFrame(df.columns)

                               0
0                         county
1                       tax_rate
2                             id
3                       parcelid
4          airconditioningtypeid
5            airconditioningdesc
6       architecturalstyletypeid
7         architecturalstyledesc
8                   basementsqft
9                    bathroomcnt
10                    bedroomcnt
11           buildingclasstypeid
12             buildingclassdesc
13         buildingqualitytypeid
14             calculatedbathnbr
15  calculatedfinishedsquarefeet
16                    decktypeid
17      finishedfloor1squarefeet
18          finishedsquarefeet12
19          finishedsquarefeet13
20          finishedsquarefeet15
21          finishedsquarefeet50
22           finishedsquarefeet6
23                          fips
24                         state
25                  fireplacecnt
26                   fullbathcnt
27                  garagecarcnt
28               garagetotalsqft
29                hashottuborspa
..                           ...
42           propertylandusedesc
43            propertyzoningdesc
44        rawcensustractandblock
45                  regionidcity
46                regionidcounty
47          regionidneighborhood
48                   regionidzip
49                       roomcnt
50                   storytypeid
51                     storydesc
52             taxvaluedollarcnt
53           threequarterbathnbr
54                       unitcnt
55            yardbuildingsqft17
56            yardbuildingsqft26
57                     yearbuilt
58               numberofstories
59                 fireplaceflag
60    structuretaxvaluedollarcnt
61                assessmentyear
62         landtaxvaluedollarcnt
63                     taxamount
64            taxdelinquencyflag
65            taxdelinquencyyear
66        typeconstructiontypeid
67          typeconstructiondesc
68           censustractandblock
69               transactiondate
70                      logerror
71                  transactions

[72 rows x 1 columns]

In [20]:
df.shape

(77381, 72)

3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

- Number of rows with missing values

In [20]:
number_missing = df.isnull().sum()

- percent of total rows that have missing values

In [21]:
pct_missing = (df.isnull().sum())/df.shape[0]

In [25]:
rows_missing_df = pd.DataFrame({'num_rows_missing': number_missing, 'pct_rows_missing': pct_missing})

In [26]:
def nulls_by_col(df):
    number_missing = df.isnull().sum()
    pct_missing = (df.isnull().sum())/df.shape[0]
    rows_missing_df = pd.DataFrame({'num_rows_missing': number_missing, 'pct_rows_missing': pct_missing})
    return rows_missing_df

In [28]:
rows_missing_df

                              num_rows_missing     pct_rows_missing
county                                       0                 0.00
tax_rate                                     6                 0.00
id                                           0                 0.00
parcelid                                     0                 0.00
airconditioningtypeid                    52428                 0.68
airconditioningdesc                      52428                 0.68
architecturalstyletypeid                 77175                 1.00
architecturalstyledesc                   77175                 1.00
basementsqft                             77331                 1.00
bathroomcnt                                  0                 0.00
bedroomcnt                                   0                 0.00
buildingclasstypeid                      77366                 1.00
buildingclassdesc                        77366                 1.00
buildingqualitytypeid                    27709                 0.36
calculatedbathnbr                          609                 0.01
calculatedfinishedsquarefeet               196                 0.00
decktypeid                               76767                 0.99
finishedfloor1squarefeet                 71358                 0.92
finishedsquarefeet12                      3632                 0.05
finishedsquarefeet13                     77340                 1.00
finishedsquarefeet15                     74372                 0.96
finishedsquarefeet50                     71358                 0.92
finishedsquarefeet6                      76995                 1.00
fips                                         0                 0.00
state                                        0                 0.00
fireplacecnt                             69105                 0.89
fullbathcnt                                609                 0.01
garagecarcnt                             51907                 0.67
garagetotalsqft                          51907                 0.67
hashottuborspa                           75843                 0.98
...                                        ...                  ...
propertylandusedesc                          0                 0.00
propertyzoningdesc                       27050                 0.35
rawcensustractandblock                       0                 0.00
regionidcity                              1471                 0.02
regionidcounty                               0                 0.00
regionidneighborhood                     46491                 0.60
regionidzip                                 50                 0.00
roomcnt                                      0                 0.00
storytypeid                              77331                 1.00
storydesc                                77331                 1.00
taxvaluedollarcnt                            1                 0.00
threequarterbathnbr                      67285                 0.87
unitcnt                                  26818                 0.35
yardbuildingsqft17                       74993                 0.97
yardbuildingsqft26                       77311                 1.00
yearbuilt                                  263                 0.00
numberofstories                          59821                 0.77
fireplaceflag                            77209                 1.00
structuretaxvaluedollarcnt                 112                 0.00
assessmentyear                               0                 0.00
landtaxvaluedollarcnt                        2                 0.00
taxamount                                    5                 0.00
taxdelinquencyflag                       74495                 0.96
taxdelinquencyyear                       74495                 0.96
typeconstructiontypeid                   77159                 1.00
typeconstructiondesc                     77159                 1.00
censustractandblock                        244                 0.00
transactiondate                              0                 0.00
logerror                                     0                 0.00
transactions                                 0                 0.00

[72 rows x 2 columns]

4. Write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, and number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values.

In [29]:
df.isnull().sum(axis=1)

0        33
1        33
2        33
3        32
4        32
5        33
6        33
7        34
8        33
9        33
10       32
11       33
12       33
13       34
14       31
15       32
16       33
17       33
18       32
19       29
20       32
21       30
22       29
23       34
24       34
25       31
26       32
27       33
28       33
29       33
         ..
77351    31
77352    34
77353    29
77354    33
77355    32
77356    34
77357    34
77358    35
77359    29
77360    35
77361    35
77362    34
77363    35
77364    34
77365    37
77366    35
77367    34
77368    29
77369    37
77370    33
77371    38
77372    35
77373    37
77374    37
77375    36
77376    38
77377    32
77378    36
77379    34
77380    37
Length: 77381, dtype: int64

In [32]:
df.shape

(77381, 72)

In [ ]:
def nulls_by_row(df):
    num_cols_missing = df.isnull().sum(axis=1)
    pct_cols_missing = df.isnull().sum(axis=1)/df.shape[1]*100
    rows_missing = pd.DataFrame({'num_cols_missing': num_cols_missing, 'pct_cols_missing': pct_cols_missing}).reset_index().groupby(['num_cols_missing','pct_cols_missing']).count().rename(index=str, columns={'index': 'num_rows'}).reset_index()
    return rows_missing