In [1]:
#ignore warnings
import warnings
warnings.filterwarnings("ignore")

#wrangling
import pandas as pd
import numpy as np

#explore
import scipy.stats as stats

#visuals
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns


#default pandas decimal display formatting
pd.options.display.float_format='{:20,.2f}'.format

import env
import acquire
# import prepare
# import summarize

In [8]:
df = acquire.get_zillow_data()

In [9]:
df.transactiondate = pd.to_datetime(df.transactiondate, format='%Y-%m-%d')
df = df.sort_values("transactiondate").drop_duplicates('parcelid',keep='last')

In [10]:
df

          id  parcelid             logerror transactiondate
0          0  14297519                 0.03      2017-01-01
1          1  17052889                 0.06      2017-01-01
2          2  14186244                 0.01      2017-01-01
3          3  12177905                -0.10      2017-01-01
4          4  10887214                 0.01      2017-01-01
5          5  17143294                -0.02      2017-01-01
6          6  12095076                -0.00      2017-01-01
7          7  12069064                 0.10      2017-01-01
70        70  11018202                 0.02      2017-01-02
71        71  10808296                 0.01      2017-01-02
72        72  11023776                 0.09      2017-01-02
73        73  12871444                 0.04      2017-01-02
77        77  13055657                 0.06      2017-01-02
75        75  12879860                 0.00      2017-01-02
76        76  13069118                -0.01      2017-01-02
69        69  11782783                 0.03      2017-01-02
74        74  14602058                 0.02      2017-01-02
68        68  14434171                 0.06      2017-01-02
64        64  14607408                 0.02      2017-01-02
66        66  14432426                -0.03      2017-01-02
65        65  13091973                -0.01      2017-01-02
78        78  12481281                -0.03      2017-01-02
63        63  12840475                 0.06      2017-01-02
62        62  12691507                 0.07      2017-01-02
61        61  12464464                -0.05      2017-01-02
60        60  14448439                 0.01      2017-01-02
59        59  14728092                -0.05      2017-01-02
58        58  14452416                 0.02      2017-01-02
67        67  11016518                -0.06      2017-01-02
79        79  11693504                -0.07      2017-01-02
...      ...       ...                  ...             ...
77412  77412  12239065                -0.02      2017-09-19
77413  77413  11872405                 0.04      2017-09-19
77414  77414  11004520                -0.08      2017-09-19
77415  77415  11184423                 0.07      2017-09-19
77437  77437  12038040                 0.10      2017-09-19
77417  77417  12071514                 0.05      2017-09-19
77418  77418  12768500                 0.01      2017-09-19
77416  77416  12160526                 0.01      2017-09-19
77420  77420  11554146                -0.06      2017-09-19
77435  77435  12507279                -0.03      2017-09-19
77434  77434  11696381                 0.06      2017-09-19
77433  77433  12612551                 0.04      2017-09-19
77432  77432  11475304                -0.07      2017-09-19
77419  77419  12808835                 0.06      2017-09-19
77429  77429  13062405                 0.04      2017-09-19
77428  77428  11388980                 0.02      2017-09-19
77431  77431  11475322                -0.09      2017-09-19
77426  77426  12620810                 0.05      2017-09-19
77425  77425  11704525                 0.14      2017-09-19
77424  77424  11579452                 0.08      2017-09-19
77423  77423  11148930                 0.06      2017-09-19
77422  77422  12247692                 0.23      2017-09-19
77421  77421  11567584                -0.06      2017-09-19
77427  77427  10944684                 0.05      2017-09-19
77608  77608  10833991                -0.00      2017-09-20
77609  77609  11000655                 0.02      2017-09-20
77610  77610  17239384                 0.01      2017-09-21
77611  77611  12773139                 0.04      2017-09-21
77612  77612  12826780                 0.01      2017-09-25
77613  77613  13083743                -0.20      2018-05-25

[77414 rows x 4 columns]