# Exercises

continuous_probabilistic_methods.py or continuous_probabilistic_methods.ipynb 1. Define a function named get_lower_and_upper_bounds that has two arguments. The first argument is a pandas Series. The second argument is the multiplier, which should have a default argument of 1.5.

1. Using lemonade.csv dataset and focusing on continuous variables:

 - Use the IQR Range Rule and the upper and lower bounds to identify the lower outliers of each column of  lemonade.csv, using the multiplier of 1.5. Do these lower outliers make sense?Which outliers should be kept?
 - Use the IQR Range Rule and the upper and lower bounds to identify the upper outliers of each column of lemonade.csv, using the multiplier of 1.5. Do these lower outliers make sense?Which outliers should be kept?
 - Using the multiplier of 3, IQR Range Rule, and the lower and upper bounds, identify the outliers below the lower bound in each colum of lemonade.csv. Do these lower outliers make sense?Which outliers should be kept?
 - Using the multiplier of 3, IQR Range Rule, and the lower and upper bounds, identify the outliers above the upper_bound in each colum of lemonade.csv. Do these upper outliers make sense? Which outliers should be kept?


2. Identify if any columns in lemonade.csv are normally distributed. For normally distributed columns:

 - Use a 2 sigma decision rule to isolate the outliers.
 - Do these make sense?
 - Should certain outliers be kept or removed?


3. Now use a 3 sigma decision rule to isolate the outliers in the normally distributed columsn from lemonade.csv

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('lemonade.csv')

In [6]:
df.describe()

       Temperature    Rainfall      Flyers  Price       Sales
count   365.000000  365.000000  365.000000  365.0  365.000000
mean     61.224658    0.825973   40.104110    0.5   27.589041
std      18.085892    0.273890   13.786445    0.0   29.979680
min      15.100000    0.400000  -38.000000    0.5    7.000000
25%      49.700000    0.650000   31.000000    0.5   20.000000
50%      61.100000    0.740000   39.000000    0.5   25.000000
75%      71.700000    0.910000   49.000000    0.5   30.000000
max     212.000000    2.500000   80.000000    0.5  534.000000

In [8]:
df.shape

(365, 7)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 7 columns):
Date           365 non-null object
Day            365 non-null object
Temperature    365 non-null float64
Rainfall       365 non-null float64
Flyers         365 non-null int64
Price          365 non-null float64
Sales          365 non-null int64
dtypes: float64(3), int64(2), object(2)
memory usage: 20.0+ KB

In [4]:
df.head()

     Date        Day  Temperature  Rainfall  Flyers  Price  Sales
0  1/1/17     Sunday         27.0      2.00      15    0.5     10
1  1/2/17     Monday         28.9      1.33      15    0.5     13
2  1/3/17    Tuesday         34.5      1.33      27    0.5     15
3  1/4/17  Wednesday         44.1      1.05      28    0.5     17
4  1/5/17   Thursday         42.4      1.00      33    0.5     18

In [14]:
df.mean()

Temperature    61.224658
Rainfall        0.825973
Flyers         40.104110
Price           0.500000
Sales          27.589041
dtype: float64

In [34]:
df_continuous = df[['Temperature', 'Rainfall', 'Flyers', 'Sales']]

In [36]:
df_continuous.std()

Temperature    18.085892
Rainfall        0.273890
Flyers         13.786445
Sales          29.979680
dtype: float64

In [41]:
zscores = df_continuous.subtract(df_continuous.mean())/df_continuous.std()

In [45]:
for column in df.columns:
    if column == dtype float64 or int64

Index(['Date', 'Day', 'Temperature', 'Rainfall', 'Flyers', 'Price', 'Sales'], dtype='object')

In [43]:
zscores[zscores.abs() > 1.5]

     Temperature  Rainfall    Flyers  Sales
0      -1.892340  4.286488 -1.820927    NaN
1      -1.787286  1.840253 -1.820927    NaN
2            NaN  1.840253       NaN    NaN
3            NaN       NaN       NaN    NaN
4            NaN       NaN       NaN    NaN
5      -1.986336  2.606983       NaN    NaN
6      -1.566119  2.606983 -1.530787    NaN
7            NaN       NaN       NaN    NaN
8            NaN       NaN       NaN    NaN
9            NaN       NaN       NaN    NaN
10     -1.582706  2.606983       NaN    NaN
11           NaN  1.840253 -1.748392    NaN
12           NaN  1.840253 -1.530787    NaN
13           NaN       NaN       NaN    NaN
14           NaN       NaN       NaN    NaN
15     -1.693290  3.081626       NaN    NaN
16     -1.604823  2.205363       NaN    NaN
17           NaN       NaN       NaN    NaN
18           NaN       NaN       NaN    NaN
19     -1.637998  2.205363       NaN    NaN
20           NaN  1.548165 -1.748392    NaN
21           NaN       NaN -1.530787    NaN
22           NaN       NaN       NaN    NaN
23     -1.803873  2.606983       NaN    NaN
24     -1.604823  1.548165       NaN    NaN
25           NaN  1.548165 -1.603322    NaN
26           NaN       NaN       NaN    NaN
27           NaN  1.840253 -1.820927    NaN
28           NaN  1.840253       NaN    NaN
29           NaN       NaN       NaN    NaN
..           ...       ...       ...    ...
335          NaN       NaN       NaN    NaN
336    -1.532944       NaN -1.530787    NaN
337          NaN  2.606983 -1.748392    NaN
338    -2.168799  3.629291 -2.111067    NaN
339          NaN       NaN       NaN    NaN
340          NaN       NaN       NaN    NaN
341          NaN  1.548165       NaN    NaN
342    -1.660115  2.205363 -1.530787    NaN
343    -1.654586  3.629291 -1.820927    NaN
344          NaN       NaN       NaN    NaN
345    -1.532944  1.840253       NaN    NaN
346    -1.604823  2.205363       NaN    NaN
347    -1.621411  2.606983       NaN    NaN
348          NaN       NaN       NaN    NaN
349          NaN  1.548165       NaN    NaN
350    -1.604823  1.840253 -1.748392    NaN
351    -1.676702  2.205363       NaN    NaN
352          NaN       NaN       NaN    NaN
353          NaN  1.548165       NaN    NaN
354          NaN  1.840253       NaN    NaN
355    -1.676702  2.606983 -1.675857    NaN
356          NaN       NaN       NaN    NaN
357          NaN  1.548165       NaN    NaN
358          NaN  1.548165 -1.530787    NaN
359    -1.787286  2.205363       NaN    NaN
360          NaN       NaN       NaN    NaN
361          NaN  1.548165       NaN    NaN
362          NaN  1.548165 -1.675857    NaN
363    -1.676702  2.205363       NaN    NaN
364    -2.550311  6.112037 -2.256137    NaN

[365 rows x 4 columns]

In [ ]:
for i in df.columns:
    z

In [18]:
zscores = pd.DataFrame((df - df.mean()) / df.std())

TypeError: ufunc 'subtract' did not contain a loop with signature matching types dtype('<U32') dtype('<U32') dtype('<U32')