Do your work in whatever format you feel most comfortable with (notebook, repl, etc). Get the data from the_data.csv into a data frame (you can click the "Raw" button in the upper left corner to download the data).


Make sure timestamp is a datetime type and set it as the index.


Answer the questions below:

1. By Group

 - What is the maximum x value for group B?
 - What is the average x value for group A?
 - What is the minimum x value for group C?
 - Which group has the highest sum of x values?
 

2. Time Aggregates

 - What is the sum of the x values for 2018-05-01?
 - What is the average x value for each day? The median?
 - Which day has the largest x value?
 - Which day has the smallest x value for group C?
 

3. Visualization

 - Visualize the minimum x value of each group with a bar chart.
 - Visualize x over time.
 - Visualize x over time by y value.
 

4. More Aggregation

 - What is the least frequent y value for 2018-04-30?
 - What is the most frequent y value for each day?

In [102]:
from __future__ import division
import itertools
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import numpy as np
import pandas as pd
import math
from sklearn import metrics
from random import randint
from matplotlib import style
import seaborn as sns
%matplotlib inline

In [110]:
# df = pd.read_clipboard(sep=',')

In [111]:
url = 'https://gist.githubusercontent.com/zgulde/96991fedca29ff5371f5e7fa00d3fa95/raw/3e95d04e4ae544bf7b03b89dfde002ff502260a1/the_data.csv'

In [112]:
df = pd.read_csv(url)

In [113]:
df.head()

             timestamp     x  y
0  2018-04-30 00:00:00  1.84  A
1  2018-04-30 01:00:00  1.47  C
2  2018-04-30 02:00:00  0.20  B
3  2018-04-30 03:00:00  0.17  C
4  2018-04-30 04:00:00  2.06  C

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 3 columns):
timestamp    48 non-null object
x            48 non-null float64
y            48 non-null object
dtypes: float64(1), object(2)
memory usage: 1.2+ KB

In [115]:
df.to_datetime = pd.to_datetime(df.timestamp)
df = df.set_index('timestamp', inplace=True)

In [116]:
df.head()

AttributeError: 'NoneType' object has no attribute 'head'

1. By Group

 - What is the maximum x value for group B?
 - What is the average x value for group A?
 - What is the minimum x value for group C?
 - Which group has the highest sum of x values?

Maximum x value for Group A

In [84]:
df.groupby('y').describe()

      x
  count      mean       std   min     25%   50%     75%   max
y
A  18.0 -0.110556  0.925784 -1.30 -0.9075 -0.08  0.2575  1.84
B  13.0 -0.053846  1.328731 -2.05 -0.8100  0.20  0.7400  1.91
C  17.0  0.232353  1.108594 -1.83 -0.1300  0.28  0.9800  2.06

In [88]:
df[df.y == 'B'].max()

df.groupby('y').x.max().B

1.91

Average x value for group A

In [89]:
df[df.y == 'A'].mean()

df.groupby('y').x.mean().A

-0.11055555555555556

Minimum x value for group C

In [90]:
df[df.y == 'C'].min()

df.groupby('y').x.min().C

-1.83

In [50]:
df.groupby(['y']).max()

      x
y
A  1.84
B  1.91
C  2.06

Highest sum of x values:  Group C

In [91]:
df.groupby(['y']).sum().idxmax()

x    C
dtype: object

2. Time Aggregates

 - What is the sum of the x values for 2018-05-01?
 - What is the average x value for each day? The median?
 - Which day has the largest x value?
 - Which day has the smallest x value for group C?

In [100]:
df.groupby(df.index.date).sum()

AttributeError: 'Index' object has no attribute 'date'

3. Visualization

 - Visualize the minimum x value of each group with a bar chart.
 - Visualize x over time.
 - Visualize x over time by y value.

4. More Aggregation

 - What is the least frequent y value for 2018-04-30?
 - What is the most frequent y value for each day?